---
import { FaWhatsapp } from 'react-icons/fa';
---

<a
  href="https://wa.me/31420202?text=Quisiera información de una cita"
  target="_blank"
  rel="noopener noreferrer"
  class="whatsapp-bubble"
  aria-label="Chat with us on WhatsApp"
>
    <div class="whatsapp-content">
    <FaWhatsapp className="whatsapp-icon" />
    <span class="whatsapp-text">¡Escríbenos!</span>
  </div>
</a>